In [77]:
import pandas as pd
Location = "datasets/04-02 Confirmed.xls" 
df = pd.read_excel(Location)
df.columns = ['FIPS','Admin2','Province_State','Confirmed',]
print '\033[31;1m  Total global confirmed  \033[0m \n', '        ',df.at [0,'Confirmed']
df

  Total global confirmed
         1013157

         FIPS       Admin2  Province_State  Confirmed
0         0.0  Globe Total           Globe    1013157
1     45001.0    Abbeville  South Carolina          6
2     22001.0       Acadia       Louisiana         61
3     51001.0     Accomack        Virginia         10
4     16001.0          Ada           Idaho        312
5     19001.0        Adair            Iowa          1
6     29001.0        Adair        Missouri          6
7     40001.0        Adair        Oklahoma          9
8      8001.0        Adams        Colorado        212
9     16003.0        Adams           Idaho          1
10    17001.0        Adams        Illinois          2
11    18001.0        Adams         Indiana          1
12    28001.0        Adams     Mississippi         14
13    31001.0        Adams        Nebraska          6
14    42001.0        Adams    Pennsylvania         18
15    53001.0        Adams      Washington         20
16    55001.0        Adams       Wisconsin          1
17    50001.0      Addison         Vermont         26
18    45003.0        Aiken  South Carolina         22
19    12001.0      Alachua         Florida         95
20    37001.0     Alamance  North Carolina         13
21     6001.0      Alameda      California        359
22     8003.0      Alamosa        Colorado          4
23    36001.0       Albany        New York        253
24    56001.0       Albany         Wyoming          3
25    51003.0    Albemarle        Virginia         23
26    28003.0       Alcorn     Mississippi          3
27    37003.0    Alexander  North Carolina          2
28    51510.0   Alexandria        Virginia         33
29    19005.0    Allamakee            Iowa         15
...       ...          ...             ...        ...
2540      NaN          NaN             NaN        897
2541      NaN          NaN             NaN          5
2542      NaN          NaN             NaN       1462
2543      NaN          NaN             NaN     112065
2544      NaN          NaN             NaN        151
2545      NaN          NaN             NaN          8
2546      NaN          NaN             NaN         10
2547      NaN          NaN             NaN       5568
2548      NaN          NaN             NaN      18827
2549      NaN          NaN             NaN         16
2550      NaN          NaN             NaN        339
2551      NaN          NaN             NaN         20
2552      NaN          NaN             NaN       1875
2553      NaN          NaN             NaN          1
2554      NaN          NaN             NaN         39
2555      NaN          NaN             NaN         94
2556      NaN          NaN             NaN        455
2557      NaN          NaN             NaN      18135
2558      NaN          NaN             NaN         45
2559      NaN          NaN             NaN        897
2560      NaN          NaN             NaN       1024
2561      NaN          NaN             NaN      33718
2562      NaN          NaN             NaN        350
2563      NaN          NaN             NaN        205
2564      NaN          NaN             NaN        146
2565      NaN          NaN             NaN        233
2566      NaN          NaN             NaN        161
2567      NaN          NaN             NaN         39
2568      NaN          NaN             NaN          9
2569      NaN   unassigned         Wyoming          0

[2570 rows x 4 columns]